<nav>
    <ul>
        <li><a href="<%=baseUrl%>">Om Guldsmed Apel</a></li>
        <li>
        <a>Diamanter og Smykker</a>
        <ul>
            <li><a href="<%=baseUrl%>/jewellery/engagement_rings">Forlovelses Ringe</a></li>
            <li><a href="<%=baseUrl%>/jewellery/design_rings">Design Ringe</a></li>
            <li><a href="<%=baseUrl%>/jewellery/solitaire_rings">Solitaire Ringe</a></li>
        </ul>
        </li>
        <li><a href="<%=baseUrl%>/contact">Kontakt og åbningstider</a></li>
    </ul>
</nav>